<%= form_tag root_path, method: :post do %>
  <p><%= text_field_tag :xpath, params[:xpath], id: :xpath, placeholder: 'XPath' %></p>
  <p><%= text_area_tag :xml, params[:xml], id: :xml %></p>
  <%= submit_tag 'Test', class: 'btn btn-primary' %>
<% end %>
<% if @elements.kind_of?(Array) %>
  <h2>Result</h2>
  <% if @elements.empty? %>
    <p>マッチしませんでした</p>
  <% else %>
    <ul>
      <% @elements.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
